[init]
	defaultBranch = main
[user]
	name = Colene McFarlane
	email = cmcfarlane22@gmail.com
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	tool = vimdiff3
	algorithm = histogram
[difftool]
	prompt = false
[alias]
	a       = add
	ac      = "!git a . && git commit -am"
	bA      = branch -a
	bD      = branch -D
	bU      = branch -u
	cam     = commit -am
	cm      = commit -m
	chp     = cherry-pick
	co      = checkout
	cob     = "!git co -b"
	coo     = "!git co --ours"
	d       = diff
	l       = log --graph --abbrev-commit --decorate --date=relative
	lf      = log --graph --abbrev-commit --decorate --date=relative --first-parent
	fp      = "!git fetch -p && git pull"
	m       = merge --no-commit --no-ff
	ma      = merge --abort
	mt      = "!f() { \
				git mergetool --tool=$1; \
			  }; f"
	po      = push origin
	s       = status
	sa      = "!f() { \
				git stash apply stash@{$1}; \
			  }; f"
	sho     = show
	sl      = stash list
	ss      = "!git stash save $(date '+%b_%d_%Y-%I:%M_%p')"
	track   = update-index --no-assume-unchanged
	untrack = update-index --assume-unchanged
[color "diff-highlight"]
	oldNormal    = red bold
	oldHighlight = red bold 52
	newNormal    = green bold
	newHighlight = green bold 22
[color]
	ui = true
[mergetool "vimdiff"]
	path = nvim
[mergetool "vimdiff3"]
	path = nvim
[mergetool]
	path = nvim
[log]
	date = local
[pull]
	rebase = false
[interactive]
	diffFilter = diff-so-fancy --patch
