[user]
	name = Colene McFarlane
	email = cmcfarlane@storycorps.org
[core]
	excludesfile = /Users/colenemcfarlane/.gitignore
	editor = nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	template = /Users/colenemcfarlane/.stCommitMsg
[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	trustExitCode = false
[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool "sublime"]
	cmd = sublime -w $MERGED
	trustExitCode = false
[diff]
	tool = vimdiff3
	algorithm = histogram
[difftool]
	prompt = false
[alias]
	a       = add
	ac      = "!git a . && git commit -am"
	bA      = branch -a
	bD      = branch -D
	bU      = branch -u
	cam     = commit -am
	cm      = commit -m
	chp     = cherry-pick
	co      = checkout
	cob     = "!git co -b"
	coo     = "!git co --ours"
	d       = diff
	dsf     = "!f() { \
				[ -z "$GIT_PREFIX" ] || cd "$GIT_PREFIX" '\
				'&& git diff --color "$@" | diff-so-fancy  | less --tabs=4 -RFX; \
			  }; f" #use diff-so-fancy for displaying diffs
    #dt      = "!f() { \
	#			git difftool --tool=$1; \
	#		  }; f"
	l       = log --graph --abbrev-commit --decorate --date=relative
	lf      = log --graph --abbrev-commit --decorate --date=relative --first-parent
	fp      = "!git fetch -p && git pull"
	m       = merge --no-commit --no-ff
	ma      = merge --abort
	mt      = "!f() { \
				git mergetool --tool=$1; \
			  }; f"
	po      = push origin
	s       = status
	sa      = "!f() { \
				git stash apply stash@{$1}; \
			  }; f"
	sho     = show
	sl      = stash list
	ss      = "!git stash save $(date '+%b_%d_%Y-%I:%M_%p')"
	track   = update-index --no-assume-unchanged
	untrack = update-index --assume-unchanged
[color "diff-highlight"]
	oldNormal    = red bold
	oldHighlight = red bold 52
	newNormal    = green bold
	newHighlight = green bold 22
[color]
	ui = true
[mergetool "vimdiff"]
	path = nvim
[mergetool "vimdiff3"]
	path = nvim
[mergetool]
	path = nvim
[difftool "onidiff"]
    cmd = oni -d $LOCAL $REMOTE
[difftool "vimrdiff"]
    cmd = vimr --wait --nvim -d $LOCAL $REMOTE
[log]
	date = local
