# search command history using up and down arrow keys
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# display matches if completion is ambiguous
set show-all-if-ambiguous on
set colored-completion-prefix on

